<h1>Saved Articles</h1>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <div class="navbar-header">
                <a href="/" class="navbar-brand">Mongo Scraper</a>

                <a href="/" class="home btn btn-light">Home</a>
                <a href="/saved" class="savedArticles btn btn-light active">Saved Articles</a>
        </div>
</nav>
<div class="jumbotron text-center">
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p></p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 {{!-- <script src="http://bootbox.min.js"></script> --}}
    {{!-- <script src="http://bootbox.locales.min.js"></script> --}}
<script src="../../assets/javascript/saved.js"></script>